CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

CONFIG_CARMOOD_OLED_PIN_SCK=13
CONFIG_CARMOOD_OLED_PIN_MOSI=12
CONFIG_CARMOOD_OLED_PIN_CS=9
CONFIG_CARMOOD_OLED_PIN_DC=10
CONFIG_CARMOOD_OLED_PIN_RST=11

CONFIG_CARMOOD_LIS3DH_I2C_PORT=0
CONFIG_CARMOOD_LIS3DH_I2C_SDA=38
CONFIG_CARMOOD_LIS3DH_I2C_SCL=37
CONFIG_CARMOOD_LIS3DH_I2C_FREQ_HZ=400000

CONFIG_CARMOOD_TOUCH_PAD_CHANNEL=7

CONFIG_CARMOOD_WIFI_SSID="iQOO 13"
CONFIG_CARMOOD_WIFI_PASSWORD="88888888"
CONFIG_CARMOOD_TIME_SYNC_ON_BOOT=y
CONFIG_CARMOOD_TIME_SYNC_TIMEOUT_SEC=30
CONFIG_CARMOOD_NTP_SERVER="ntp.aliyun.com"
CONFIG_CARMOOD_TIME_TZ="CST-8"
