CONFIG_IDF_TARGET="esp32c3"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

CONFIG_CARMOOD_OLED_I2C_PORT=0
CONFIG_CARMOOD_OLED_I2C_SDA=8
CONFIG_CARMOOD_OLED_I2C_SCL=9
CONFIG_CARMOOD_OLED_I2C_ADDR=0x3C
CONFIG_CARMOOD_OLED_COLUMN_OFFSET=2

CONFIG_CARMOOD_LIS3DH_I2C_PORT=0
CONFIG_CARMOOD_LIS3DH_I2C_SDA=8
CONFIG_CARMOOD_LIS3DH_I2C_SCL=9
CONFIG_CARMOOD_LIS3DH_I2C_FREQ_HZ=400000

CONFIG_CARMOOD_TOUCH_GPIO=7

CONFIG_CARMOOD_WIFI_SSID="MIMI"
CONFIG_CARMOOD_WIFI_PASSWORD="MiMi88888888"
CONFIG_CARMOOD_TIME_SYNC_ON_BOOT=y
CONFIG_CARMOOD_TIME_SYNC_TIMEOUT_SEC=30
CONFIG_CARMOOD_NTP_SERVER="ntp.aliyun.com"
CONFIG_CARMOOD_TIME_TZ="CST-8"
CONFIG_CARMOOD_NIGHT_SLEEP_ENABLED=y
CONFIG_CARMOOD_NIGHT_SLEEP_START_HOUR=18
CONFIG_CARMOOD_NIGHT_SLEEP_START_MINUTE=30
CONFIG_CARMOOD_NIGHT_SLEEP_END_HOUR=9
CONFIG_CARMOOD_NIGHT_SLEEP_END_MINUTE=30
